<!-- templates/gsetting.html -->
{% extends 'base.html' %}
{% block title %}Group Setting{% endblock %}
{% block content %}
<script src="/static/js/summernote-lite.js"></script>
<script src="/static/js/summernote-ko-KR.js"></script>
<link rel="stylesheet" href="/static/css/summernote-lite.css">
<script type="text/javascript">
var js_select_region_sido = new Array(
    '서울',
    '부산',
    '대구',
    '인천',
    '광주',
    '대전',
    '울산',
    '강원',
    '경기',
    '경남',
    '경북',
    '전남',
    '전북',
    '제주',
    '충남',
    '충북'
);

var js_select_region_gugun = new Object();
js_select_region_gugun['서울'] = new Array(
    '강남구', '강동구', '강북구', '강서구', '관악구', '광진구',
    '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구',
    '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
    '양천구', '영등포구', '용산구', '은평구', '종로구', '중구',
    '중랑구'
);
js_select_region_gugun['부산'] = new Array(
    '강서구', '금정구', '남구', '동구', '동래구', '부산진구',
    '북구', '사상구', '사하구', '서구', '수영구', '연제구',
    '영도구', '중구', '해운대구', '기장군'
);
js_select_region_gugun['대구'] = new Array(
    '남구', '달서구', '동구', '북구', '서구', '수성구', '중구',
    '달성군'
);
js_select_region_gugun['인천'] = new Array(
    '계양구', '남구', '남동구', '동구', '부평구', '서구',
    '연수구', '중구', '강화군', '옹진군'
);
js_select_region_gugun['광주'] = new Array(
    '광산구', '남구', '동구', '북구', '서구'
);
js_select_region_gugun['대전'] = new Array(
    '대덕구', '동구', '서구', '유성구', '중구'
);
js_select_region_gugun['울산'] = new Array(
    '남구', '동구', '북구', '중구', '울주군'
);
js_select_region_gugun['강원'] = new Array(
    '강릉시', '동해시', '삼척시', '속초시', '원주시', '춘천시',
    '태백시', '고성군', '양구군', '양양군', '영월군', '인제군',
    '정선군', '철원군', '평창군', '홍천군', '화천군', '횡성군'
);
js_select_region_gugun['경기'] = new Array(
    '고양시 덕양구', '고양시 일산동구', '고양시 일산서구', '과천시', '광명시',
    '광주시', '구리시', '군포시', '김포시', '남양주시', '동두천시',
    '부천시 소사구', '부천시 오정구', '부천시 원미구', '성남시 분당구',
    '성남시 수정구', '성남시 중원구', '수원시 권선구', '수원시 영통구',
    '수원시 장안구', '수원시 팔달구', '시흥시', '안산시 단원구', '안산시 상록구',
    '안성시', '안양시 동안구', '안양시 만안구', '양주시', '오산시', '용인시 기흥구',
    '용인시 수지구', '용인시 처인구', '의왕시', '의정부시', '이천시', '파주시',
    '평택시', '포천시', '하남시', '화성시', '가평군', '양평군', '여주군', '연천군'
);
js_select_region_gugun['경남'] = new Array(
    '거제시', '김해시', '마산시', '밀양시', '사천시', '양산시', '진주시',
    '진해시', '창원시', '통영시', '거창군', '고성군', '남해군', '산청군',
    '의령군', '창녕군', '하동군', '함안군', '함양군', '합천군'
);
js_select_region_gugun['경북'] = new Array(
    '경산시', '경주시', '구미시', '김천시', '문경시', '상주시', '안동시', '영주시',
    '영천시', '포항시 남구', '포항시 북구', '고령군', '군위군', '봉화군', '성주군',
    '영덕군', '영양군', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군'
);
js_select_region_gugun['전남'] = new Array(
    '광양시', '나주시', '목포시', '순천시', '여수시', '강진군', '고흥군', '곡성군', '구례군',
    '담양군', '무안군', '보성군', '신안군', '영광군', '영암군', '완도군', '장성군', '장흥군',
    '진도군', '함평군', '해남군', '화순군'
);
js_select_region_gugun['전북'] = new Array(
    '군산시', '김제시', '남원시', '익산시', '전주시 덕진구', '전주시 완산구', '정읍시', '고창군',
    '무주군', '부안군', '순창군', '완주군', '임실군', '장수군', '진안군'
);
js_select_region_gugun['제주'] = new Array(
    '제주시', '서귀포시'
);
js_select_region_gugun['충남'] = new Array(
    '계룡시', '공주시', '논산시', '보령시', '서산시', '아산시', '천안시', '금산군', '당진군',
    '부여군', '서천군', '연기군', '예산군', '청양군', '태안군', '홍성군'
);
js_select_region_gugun['충북'] = new Array(
    '제천시', '청주시 상당구', '청주시 흥덕구', '충주시', '괴산군', '단양군', '보은군',
    '영동군', '옥천군', '음성군', '증평군', '진천군', '청원군'
);

function js_select_region(select1, select2) {
    if (!select1) { alert('error'); return; }
    if (!select2) { alert('error'); return; }
    if (!js_select_region_select_sido(select1)) { alert('error'); return; }
    if (!js_select_region_select_gugun(select1, select2)) { alert('error'); return; }
    select1.onchange = function() {
        select2.value = '';
        js_select_region_select_gugun(select1, select2)
    }
}

function js_select_region_select_sido(select1) {
    if (!js_select_region_sido) { return false; }
    if (select1.tagName != 'SELECT') { return false; }

    var sido = js_select_region_sido;
    var val = select1.value;
    var opts = select1.options;
    select1.length = 0;

    var opt = new Option('시/도', '', (val == ''), (val == ''));
    opts.add(opt);

    for (var i = 0, m = sido.length; i < m; i++) {
        var opt = new Option(sido[i], sido[i], (val == sido[i]), (val == sido[i]));
        opts.add(opt);
    }
    return true;
}

function js_select_region_select_gugun(select1, select2) {
    if (!js_select_region_gugun) { return false; }
    if (select1.tagName != 'SELECT') { return false; }
    if (select2.tagName != 'SELECT') { return false; }

    var gugun = js_select_region_gugun;
    var val = select2.value;
    var opts = select2.options;
    select2.length = 0;
    var opt = new Option('구/군', '', (val == ''), (val == ''));
    opts.add(opt);

    if (!select1.value) { select2.disabled = false; return true; } else { select2.disabled = false; }

    var list = gugun[select1.value];
    if (!list) { return false; }

    for (var i = 0, m = list.length; i < m; i++) {
        var opt = new Option(list[i], list[i], (val == list[i]), (val == list[i]));
        opts.add(opt);
    }
    return true;
}
$(function() {
    $('#summernote').summernote({
          height: 300,                 // 에디터 높이
          minHeight: null,             // 최소 높이
          maxHeight: null,             // 최대 높이
          focus: false,                  // 에디터 로딩후 포커스를 맞출지 여부
          lang: "ko-KR",                    // 한글 설정
          tabsize: 2,
          toolbar: [
            ['style', ['style']],
            ['font', ['bold','underline','clear']],
            ['color',['color']],
            ['para',['ul','al','paragraph']],
            ['table',['table']],
            ['insert',['link']],
          ],
          codeviewFilter: false,
          codeviewIframeFilter: true
    });
    $('.content-save-btn').click(function() {
        var chk = confirm("저장하시겠습니까?");
        if (chk) {
            document.save_form.submit();
            alert('저장되었습니다.');
        } else {
            return false;
        }

    })
    $('.accept-btn').click(function() {
        var gid = location.href.substring(location.href.lastIndexOf('/') - 1, location.href.length - 1);
        $('.joined-list-box input:checked').each(function(i) {
            $.ajax({
                url: '/accept_users/' + gid + '/' + $(this).attr('id') + '/',
                type: 'get',
                dataType: 'text',
                success: function(response) {

                },
                error: function(xhr, error) {

                }
            });
        })
        alert('선택한 사용자(들)을/를 승인했습니다.');
        location.reload();
    })
    $('.reject-btn').click(function() {
        var gid = location.href.substring(location.href.lastIndexOf('/') - 1, location.href.length - 1);
        $('.joined-list-box input:checked').each(function(i) {
            $.ajax({
                url: '/reject_users/' + gid + '/' + $(this).attr('id') + '/',
                type: 'get',
                dataType: 'text',
                success: function(response) {

                },
                error: function(xhr, error) {

                }
            });
        })
        alert('선택한 사용자(들)을/를 거절하였습니다.');
        location.reload();
    })
    $('.kick-btn').click(function() {
        var gid = location.href.substring(location.href.lastIndexOf('/') - 1, location.href.length - 1);
        $('.enrolled-list-box input:checked').each(function(i) {
            $.ajax({
                url: '/kick_users/' + gid + '/' + $(this).attr('id') + '/',
                type: 'get',
                dataType: 'text',
                success: function(response) {

                },
                error: function(xhr, error) {

                }
            });
        })
        alert('선택한 사용자(들)을/를 추방하였습니다.');
        location.reload();
    })
    $('.leave-owner-btn').click(function() {
        var gid = location.href.substring(location.href.lastIndexOf('/') - 1, location.href.length - 1);
        if ($('.enrolled-list-box input:checked').length == 1) {
            var uid = $('.enrolled-list-box input:checked').attr('id');

            $.ajax({
                url: '/leave_ownerto_users/' + gid + '/' + uid + '/',
                type: 'get',
                dataType: 'text',
                success: function(response) {
                    alert(response);
                    location.reload();
                },
                error: function(xhr, error) {

                }
            });
        } else {
            alert("이임할 사용자 한명만 선택해주세요.");
            return false;
        }
    })
    $.ajax({
        url: '/gset_enrolled/' + '{{gid}}/',
        type: 'get',
        dataType: 'json',
        success: function(response) {
            var html = '';
            console.log(response.length);
            if (response.length == 0) {
                $('.enrolled-list-box').html('<h5 style="margin-top:10px">멤버목록이 비었습니다.</h5><p style="font-size:11px"></p>');
            } else {
                for (i in response) {
                    html += "<div class='enrolled-member-" + i + "'><span class='enrolled-name'>" + response[i].name + "("+response[i].userid+")"+"</span><input type='checkbox' class='enrolled-input' id='" + response[i].userid + "' name='enrolled_" + i + "'></div>";
                    //console.log(response[i].userid, response[i].name);
                }
                $('.enrolled-list-box').html(html);
            }

        },
        error: function(xhr, error) {
            console.log('error');
        }
    });
    $('#inputGroupSelect01').change(function() {
        var gset = $('#inputGroupSelect01').val();
        if (gset == '참여중인 멤버목록') {
            var html = '';
            $('.enrolled-list-box').css('display', 'block');
            $('.joined-list-box').css('display', 'none');
            $('.enrolled-btns').css('display', 'block');
            $('.joined-btns').css('display', 'none');
            $('.save-content-btns').css('display', 'none');
            $('.detail-edit-box').css('display', 'none');
            $('.notice-list-box').css('display', 'none');
            $.ajax({
                url: '/gset_enrolled/' + '{{gid}}/',
                type: 'get',
                dataType: 'json',
                success: function(response) {
                    //console.log(response.length);
                    if (response.length == 0) {
                        $('.enrolled-list-box').html('<h5 style="margin-top:10px">멤버목록이 비었습니다.</h5><p style="font-size:11px"></p>');
                    } else {
                        for (i in response) {
                            //console.log(response[i].userid, response[i].name);
                            html += "<div class='enrolled-member-" + i + "'><span class='enrolled-name'>" + response[i].name + "("+response[i].userid+")"+"</span><input type='checkbox' class='enrolled-input' id='" + response[i].userid + "' name='enrolled_" + i + "'></div>";
                        }
                        $('.enrolled-list-box').html(html);
                    }

                },
                error: function(xhr, error) {
                    console.log('error');
                }
            });
        } else if (gset == '가입 신청자 목록') {
            var html = '';
            $('.enrolled-list-box').css('display', 'none');
            $('.joined-list-box').css('display', 'block');
            $('.enrolled-btns').css('display', 'none');
            $('.joined-btns').css('display', 'block');
            $('.save-content-btns').css('display', 'none');
            $('.detail-edit-box').css('display', 'none');
            $('.notice-list-box').css('display', 'none');
            $.ajax({
                url: '/gset_joined/' + '{{gid}}/',
                type: 'get',
                dataType: 'json',
                success: function(response) {
                    //console.log(response.length);
                    if (response.length == 0) {
                        $('.joined-list-box').html('<h5 style="margin-top:10px">멤버목록이 비었습니다.</h5><p style="font-size:11px"></p>');
                    } else {
                        for (i in response) {
                            //console.log(response[i].userid, response[i].name);
                            html += "<div class='joined-member-" + i + "'><span class='joined-name'>" + response[i].name + "</span><input type='checkbox' class='joined-input' id='" + response[i].userid + "' name='joined_" + i + "'></div>";
                        }
                        $('.joined-list-box').html(html);
                    }


                },
                error: function(xhr, error) {
                    console.log('error');
                }
            });
        } else if (gset == '공지사항 등록') {
            // 공지사항 change 시에 할 동작
            var html = '';
            $('.notice-list-box').css('display', 'block');
            $('.enrolled-list-box').css('display', 'none');
            $('.joined-list-box').css('display', 'none');
            $('.enrolled-btns').css('display', 'none');
            $('.joined-btns').css('display', 'none');
            $('.save-content-btns').css('display', 'none');
            $('.detail-edit-box').css('display', 'none');

        } else if (gset == '그룹 상세 내용 수정') {
            var html = '';
            $('.enrolled-list-box').css('display', 'none');
            $('.joined-list-box').css('display', 'none');
            $('.enrolled-btns').css('display', 'none');
            $('.joined-btns').css('display', 'none');
            $('.save-content-btns').css('display', 'block');
            $('.detail-edit-box').css('display', 'block');
            $('.notice-list-box').css('display', 'none');
            $.ajax({
                url: '/load_content/' + '{{gid}}/',
                type: 'get',
                dataType: 'json',
                success: function(response) {
                    $('input[name=gtitle]').val(response.group_title); //title
                    $('input[name=gtheme]').val(response.theme); //theme
                    $('input[name=garea]').val(response.area); //area
                    $('input[name=gstartdate]').val(response.group_startdate); //startdate
                    $('input[name=gduedate]').val(response.group_duedate); //duedate
                    $('select[name=glocation]').val(response.group_location).attr("selected", "selected"); //location
                    $('select[name=glocation2]').prepend('<option value="' + response.group_location2 + '">' + response.group_location2 + '</option>')
                    $('select[name=glocation2]').val(response.group_location2).attr("selected", "selected"); //location2
                    //$('textarea[name=gdetails]').val(response.group_details); //details
                    $('.note-editable >p').html(response.group_details)
                },
                error: function(xhr, error) {
                    console.log('error');
                }
            });
        }
    })
})
</script>

<body class="loginbody">
    <div class="text-center">
        <!-- header -->
        <div class="header">
            <a class="arrow-return" href="/gmain/{{gid}}"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" data-svg-content="true" fill="rgb(255, 255, 255)">
                    <path d="M40 22H15.66l11.17-11.17L24 8 8 24l16 16 2.83-2.83L15.66 26H40v-4z"></path>
                </svg></a>
            </a>
            <div class="header-title">
                <span class="header-title-text">Group Setting</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" data-svg-content="true" fill="#000000">
                    <path d="M32 22c3.31 0 5.98-2.69 5.98-6s-2.67-6-5.98-6c-3.31 0-6 2.69-6 6s2.69 6 6 6zm-16 0c3.31 0 5.98-2.69 5.98-6s-2.67-6-5.98-6c-3.31 0-6 2.69-6 6s2.69 6 6 6zm0 4c-4.67 0-14 2.34-14 7v5h28v-5c0-4.66-9.33-7-14-7zm16 0c-.58 0-1.23.04-1.93.11C32.39 27.78 34 30.03 34 33v5h12v-5c0-4.66-9.33-7-14-7z"></path>
                </svg>
            </div>
        </div>
        <!-- header end -->
        <!-- section start -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">관리</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected value="참여중인 멤버목록">참여중인 멤버목록</option>
                <option value="가입 신청자 목록">가입 신청자 목록</option>
                <option value="공지사항 등록">공지사항 등록</option>
                <option value="그룹 상세 내용 수정">그룹 상세 내용 수정</option>
            </select>
        </div>
        <!-- 참여 중인 멤버 목록 -->
        <div class="enrolled-list-box"></div>
        <!-- 가입 신청자 목록 -->
        <div class="joined-list-box" style="display:none;"></div>
        <!-- 공지사항 몪록 -->
        <div class="notice-list-box" style="display:none;">
            <div class="notice-table-div">
                <table class="table table-hover notice-table">
                    <thead>
                        <!-- for loop start -->
                        <tr>
                            <th scope="col" style="width:120px;">날짜</th>
                            <th scope="col">장소</th>
                            <th scope="col">선정도서</th>
                            <th scope="col">공지말씀</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for n in notice %}
                        <tr>
                            <th scope="row">&nbsp;{{n.n_date|slice:"5:"}}</th>
                            <td>{{n.n_loc}}</td>
                            <td>{{n.n_book}}</td>
                            <td>{{n.n_text}}</td>
                        </tr>
                        {% endfor %}
                        <!-- for loop end -->
                    </tbody>
                </table>
            </div>
            <div class="notice-post-box">
                <form method="post" action="/gset_noticeadd/{{gid}}/">
                    {% csrf_token %}
                    <input type="hidden" name="groupid" value="{{gid}}">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">이번 모임 날짜</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1" name="date">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput2">모임 장소</label>
                        <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="예) 마포구 신촌 스터디 카페 101호" name="place">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">추천도서선정</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="book">
                            <option value="0">선택안함</option>
                            <option value="리버싱 스토리">리버싱 스토리</option>
                            <option value="악성코드 이야기">악성코드 이야기</option>
                            <option value="악성코드 스토리">악성코드 스토리</option>
                            <option value="동규의 스토리">동규의 스토리</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">기타 공지말씀</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" style="resize:none;" placeholder="직접 도서 선정시 이곳에 작성해주세요." name="text"></textarea>
                    </div>
                    <div class="notice-bottom-buttons">
                        <button type="reset" class="btn btn-secondary mb-2">CANCEL</button>
                        <button type="submit" class="btn btn-secondary mb-2">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- 그룹 상세 내용 수정 -->
        <div class="detail-edit-box" style="display:none;">
            <form method="post" action="/save_content/{{gid}}/" name="save_form" class="save_form" enctype="multipart/form-data">
                {% csrf_token %}
                제목 <input type="text" name="gtitle" placeholder="제목을 입력하세요." style="width:280px;"><br />
                테마 <input type="text" name="gtheme" placeholder="테마를 2글자 입력" maxlength="2" style="width:80px;font-size:13px;">
                분야 <input type="text" name="garea" placeholder="분야를 2글자 입력" maxlength="2" style="width:80px;font-size:13px;"><br />
                모임 시작 시간 <input type="date" name="gstartdate"><br />
                모임 진행 기간 <select type="select" name="gduedate">
                    <option value="1주간">1주간</option>
                    <option value="2주간">2주간</option>
                    <option value="3주간">3주간</option>
                    <option value="한달간">한달간</option>
                    <option value="두달간">두달간</option>
                    <option value="세달간">세달간</option>
                    <option value="네달 이상">네달 이상</option>
                    <option value="미정">미정</option>
                </select><br />
                모임 장소 <select id="sido" name="glocation"></select>
                <select id="gugun" name="glocation2"></select><br />
                대표 이미지 <input type="file" name="gimage" style="width:200px;font-size:12px;"><br />
                <span>그룹 설명 작성</span>
                <textarea id="summernote" name="gdetails" style="width:320px;height:120px;white-space:pre;resize:none;overflow-y:auto;"></textarea>
            </form>
        </div>
        <!-- section end -->
        <!-- buttons -->
        <div class="enrolled-btns gset-btns">
            <button class="btn btn-secondary kick-btn">추방</button>
            <button class="btn btn-secondary leave-owner-btn">그룹장이임</button>
        </div>
        <div class="joined-btns gset-btns" style="display:none;">
            <button class="btn btn-secondary accept-btn">승인</button>
            <button class="btn btn-secondary reject-btn">거절</button>
        </div>
        <div class="save-content-btns gset-btns" style="display:none;">
            <button class="btn btn-secondary content-save-btn">저장</button>
        </div>
        <script>
        js_select_region(document.getElementById('sido'), document.getElementById('gugun'));
        </script>
        <!-- buttons end -->
        {% endblock %}